import flask
from flask import Flask
from typing import Callable, Generator


class SSE:
    def __init__(self, app: Flask) -> None:
        self.app = app

    def add_url_rule(self, url: str, *, stream_func: Callable[..., Generator[str, None, None]]) -> None:
        stream_func_name = stream_func.__name__
        self.app.endpoint(stream_func_name)(lambda *args, **kw: flask.Response(stream_func(*args, **kw), mimetype='text/event-stream'))
        self.app.add_url_rule(url, endpoint=stream_func_name, methods=['GET'])
